<?xml version = "1.0"encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG" parallel="methods">
    <test name="Search">
        <classes>
            <class name="org.seleniumTest.testng.test.search.SearchTest">
<!--                <methods>-->
<!--                    <include name="googleHomePage_searchByButton"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>

    <!-- Supported drivers: {CHROME,FIREFOX,OPERA,EDGE,IEXPLORER,CHROMIUM,SAFARI} (required installation/binary)-->
    <parameter name="driver" value="chrome"/>
    <!-- Anything except "yes" literal string will not maximise -->
    <parameter name="maximize" value="true"/>
</suite>